* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'wotfardregular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html::-webkit-scrollbar {
    width: 10px;
}
html::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-four);
    border-radius: 24px;
}
html::-webkit-scrollbar-track {
    background-color: var(--bg-color-one);
}
:root {
    --content-text: clamp(0.9rem, 1.2vw + 0.8rem, 1rem);
    --sub-headings: clamp(1.25rem, 1.5vw + 0.75rem, 1.75rem);
    --main-headings: clamp(1.75rem, 2vw + 1rem, 2.5rem);
    --big-headings: clamp(2rem, 3vw + 1.5rem, 3.5rem);

    --light-color-one: #f8fafc;
    --light-color-two: #f1f5f9;
    --light-color-three: #e2e8f0;
    --light-color-four: #cbd5e1;

    --dark-color-one: #020617;
    --dark-color-two: #0f172a;
    --dark-color-three: #1e293b;
    --dark-color-four:  #374151;

    --accent-color-blue: #0D1282;
    --accent-color-red: #D71313;
    --accent-color-yellow: #F0DE36;
    --accent-color-green: #367E18;
    --accent-color-orange: #CD5C08;

    --bold-600: 600;
    --bold-700: 700;
    --bold-800: 800;
}

input, select, textarea, button {
    font: inherit;
}
@font-face {
    font-family: 'wotfardregular';
    src: url('fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('fonts/wotfard-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    line-height: 1.5;
    font-family: 'wotfardregular';
    background-color: var(--light-color-one);
    color: var(--dark-color-three);
    position: relative;
}
.side-bar {
    position: fixed;
    border: 3px solid var(--dark-color-one);
    border-radius: 25px 25px 0 0;
    border-bottom: none;
    background-color: var(--light-color-one);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-inline: auto;
    z-index: 100;
}
.side-bar svg {
    width: 40px;
    fill: var(--dark-color-one);
    transition: fill .3s; 
}
.side-bar a:nth-child(1) svg:hover {
    fill: #1877F2;
}
.side-bar a:nth-child(2) svg:hover {
    fill: #037e18;
}
.side-bar a:nth-child(3) svg:hover {
    fill: #c71610;
}
.side-bar a:nth-child(4) svg:hover {
    fill: #f0b240;
}
.header {
    background-color: var(--light-color-one);
    color: var(--dark-color-one);
    padding-inline: 1rem;
    z-index: 2;
}
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--dark-color-one);
    z-index: 3;
}
.navigation {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation h3 {
    font-size: var(--main-headings);
    z-index: 3;
}
.navigation .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.navigation .nav-links li {
    list-style: none;
}
.navigation .nav-links li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: var(--content-text);
    font-weight: var(--bold-800);
    font-family: 'wotfardregular';
    color: var(--dark-color-one);
    position: relative;
    padding: 10px 14px;
}
.navigation .nav-links li a:hover {
    color: var(--dark-color-three);
}
.navigation .nav-links li a::after{
    content: "";
    position: absolute;
    border-bottom: 3px solid var(--accent-color-red);
    width: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin-inline: auto;
    bottom: 0;
    transition: .3s;
    z-index: 2;
}
.navigation .nav-links li a:hover::after, 
.navigation .nav-links li a:focus::after    {
    width: 100%;
}
.navigation .nav-links.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--light-color-one);
    position: absolute;
    top: 33px;
    left: 0;
    padding: 6px;
    z-index: 21;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease, padding 0.3s ease;
}
.navigation.active .nav-links.menu {
    height: 200px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
}
main {
    color: var(--light-bg-color);
    z-index: -2;
}
.main-header {
    min-height: 100vh;
    background-image: url("./images/young-couple-looking-their-cute-dog-park.webp");
    background-color: var(--dark-color-one);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: grid;
    place-content: center;
    z-index: 1;
}
.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color:#020617;
    opacity: .3;
    z-index: -1;
}
.main-header .main-header-content h1 {
    color: white;
    font-family: 'wotfardregular';
    font-size: var(--big-headings);
    font-weight: var(--bold-800);
}
.main-header img {
    filter: invert(100%);
    width: clamp(250px, 100%, 600px);
    height: auto;
}
.main-header button {
    cursor: pointer;
    border:none;
    border-radius: 24px;
    background-color: var(--accent-color-yellow);
    color:#020617;
    margin-top: 2rem;
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: var(--bold-800);
    letter-spacing: 2px;
    transition: transform .3s ease;
}
.main-header button:hover {
    background-color:#ffcd28;
    color:#0f172a;
    transform: translateY(-5px);
}
.main-container {
    margin: 0 auto;
}
.main-container section {
    margin-block: 2rem;
}
.main-container .banner {
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    z-index: -1;
}
.banner .banner-svg {
    max-width: 300px;
    margin: 0 auto;
}
.banner-svg svg {
    fill: #ac6e12;
    max-width: 100%;
    stroke:#020617;
    stroke-width: .3;
}
.banner-text h3 {
    font-size: var(--main-headings);
    margin-bottom: 1rem;
}
.banner-text p {
    margin-inline: 1rem;
    font-size: var(--content-text);
}
.main-container .card-sec {
    min-height: 20vh;
}

.why-us {
    background-image: url(./images/repeating-banner.webp);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    border-top: 1px solid var(--dark-color-four);
    border-bottom: 1px solid var(--dark-color-four);
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.why-us .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 0 auto 3rem;
    gap: 1rem;
}
.sec-heading h5 {
    text-align: center;
    margin: 0 auto;
    font-size: var(--content-text);
    color: var(--dark-color-four);
    font-weight: 600;
    max-width: 60ch;
    margin-bottom: 4rem;
    letter-spacing: 1px;
}

.sec-heading h3 {
    font-size: var(--main-headings);
    color: var(--dark-color-one);
    text-align: center;
    padding: 1rem;
}
.pet-collar-container .sec-heading h3 {
    padding: 0;
}

.cards .card {
    background-color: var(--light-color-two);
    box-shadow: -2px -2px 4px white, 4px 4px 4px rgb(0, 0, 0);
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    text-align: left;
}

.card-icon {
    text-align: center;
}
.card-icon svg {
    width: 70px;
    height: 70px;
    max-width: 100%;
}
.card-icon .red {
    fill: var(--accent-color-red);
}
.card-icon .green {
    fill: var(--accent-color-green);
}
.card-icon .blue {
    fill: var(--accent-color-blue);
}
.card-icon .brown {
    fill: var(--accent-color-yellow);
}
.card-title {
    font-size: var(--sub-headings);
    font-weight: var(--bold-600);
    color: var(--accent-color-orange);
    margin: 10px 0;
}
.card-description {
    font-size: var(--content-text);
    color: var(--text-color-two);
}
.pet-collar-container {
    color: var(--text-color-one);
    max-width: 1200px;
    margin: 0 auto;
}
.child-container {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}
.child-container .image-child-container {
    width: clamp(300px, 100%, 850px);
}
.image-child-container img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.text-child-container {
    padding-inline: 1rem;
}
.text-child-container h4 {
    margin-top: 1rem;
    padding-left: 12px;
    border-left: 4px solid var(--accent-color-orange);
    font-size: var(--sub-headings);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-child-container p {
    margin-top: 1rem;
}

@media (min-width: 800px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation h3 {
        flex-shrink: 0;
        white-space: nowrap;
    }
    .navigation .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        position: static;
        height: auto;
        padding: 0; 
        width: auto;
    }
    .navigation .nav-links.menu {
        display: flex; 
        flex-direction: row;
        height: auto;
        padding: 1rem;
        position: static;
        background-color: transparent;
    }
    .hamburger {
        display: none;
    }
    .side-bar {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        width: auto;
        left: 0;
        bottom: 5rem;
        transform: none;
        border-radius: 0 24px 24px 0;
        border: 3px solid var(--dark-color-one);
        border-left: none;
    }
    .why-us .cards {
        grid-template-columns: repeat(4, 1fr);
    }
    .child-container {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
    .child-container:nth-child(even) {
        flex-direction: row-reverse;
        
    }
    .image-child-container {
        flex: 1;
    }
    .text-child-container {
        flex: 1;
    }

}

@media (prefers-color-scheme: dark) {
    :root {
        --light-color-one: #020617;
        --light-color-two: #0f172a;
        --light-color-three: #1e293b;
        --light-color-four: #374151;
        --dark-color-one: #f8fafc;
        --dark-color-two: #f1f5f9;
        --dark-color-three: #e2e8f0;
        --dark-color-four: #cbd5e1;
    }
    .banner-svg svg{
        stroke: #374151;
    }
    .why-us {
        z-index: -1;
    }
    .why-us::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        opacity: .5;
        width: 100%;
        background-color: black;
        z-index: -1;
    }
    .why-us .cards {
        z-index: 111;
    }

    .cards .card {
        box-shadow: 4px 4px 4px rgb(170, 170, 170)
    }

    .cards .blue {
        fill: #46a6be;
    }
}