* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'wotfardregular', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-four);
    border-radius: 24px;
}

html::-webkit-scrollbar-track {
    background-color: var(--bg-color-one);
}


:root {
    --content-text: clamp(1rem, 1.2vw + 0.8rem, 1.2rem);
    --sub-headings: clamp(1.25rem, 1.5vw + 0.75rem, 1.75rem);
    --main-headings: clamp(1.5rem, 2vw + 1rem, 2.5rem);
    --big-headings: clamp(2rem, 3vw + 1.5rem, 3.5rem);

    --bg-color-one: #343131;
    --bg-color-two: #A04747;
    --bg-color-three: #D8A25E;
    --bg-color-four: #EEDF7A;
    --light-bg-color: #F5F7F8;
    --text-color: #f5f5f5;

    --bold-600: 600;
    --bold-700: 700;
    --bold-800: 800;
}

input, select, textarea, button {
    font: inherit;
}

@font-face {
    font-family: 'wotfardregular';
    src: url('fonts/wotfard-regular-webfont.woff2') format('woff2'),
         url('fonts/wotfard-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    line-height: 1.5;
    font-size: var(--content-text);
    font-family: 'wotfardregular';
    background-color: var(--light-bg-color);
    position: relative;
}


.side-bar {
    position: fixed;
    border: 3px solid var(--bg-color-four);
    border-radius: 25px 25px 0 0;
    border-bottom: none;
    background-color: var(--bg-color-one);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    margin-inline: auto;
    z-index: 100;
}

.side-bar svg {
    width: 35px;
    fill: var(--bg-color-four);
}

/* .side-bar .facebook {
    fill: blue;
}

.side-bar .phone {
    fill: rgb(92, 180, 5);
}

.side-bar .gmail{
    fill: #df3b3b;
}

.side-bar .instagram {
    fill: #833ab4;
} */

header {
    background-color: var(--bg-color-one);
    color: var(--bg-color-four);
    padding-inline: 1rem;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--bg-color-four);
    
}

.navigation {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navigation h3 {
    font-size: var(--main-headings);
    color: var(--bg-color-three)
}

.navigation .nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.navigation .nav-links li {
    list-style: none;
}

.navigation .nav-links li a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: var(--content-text);
    font-weight: var(--bold-800);
    font-family: 'wotfardregular';
    color: var(--bg-color-four);
    position: relative;
    padding: 10px 14px;
}

.navigation .nav-links li a:hover {
    color: #ffee83;
}

.navigation .nav-links li a::after{
    content: "";
    position: absolute;
    border-bottom: 3px solid #A04747;
    width: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin-inline: auto;
    bottom: 0;
    transition: .3s;
    z-index: 2;
}

.navigation .nav-links li a:hover::after, 
.navigation .nav-links li a:focus::after    {
    width: 100%;
}

.navigation .nav-links.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-color-one);
    position: absolute;
    top: 34px;
    left: 0;
    padding: 0;
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease, padding 0.3s ease;
 
}

.navigation.active .nav-links.menu {
    height: 250px; 
    padding: 8px 12px;
    padding-bottom: 0;
    box-shadow: 4px 4px 4px 2px rgb(0, 0, 0);
}

main {
    color: var(--light-bg-color);
    z-index: -2;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main-header {
    min-height: 100vh;
    background-image: url("./images/young-couple-looking-their-cute-dog-park.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: grid;
    place-content: center;
    z-index: 1;
    box-shadow: 0px 4px 4px 2px black;
}

.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    opacity: .4;
    z-index: -1;
}

.main-header .main-header-content h1 {
    font-family: 'wotfardregular';
    font-size: var(--big-headings);
    font-weight: var(--bold-800);
    /* text-transform: uppercase; */
    opacity: 0;
    animation: fadeInSlide 1s ease-in-out forwards;
    animation-delay: .75s;
}

.main-header img {
    filter: invert(100%);
    opacity: 0;
    animation: fadeInSlide 1s ease-in-out forwards;
    width: clamp(400px, 100%, 600px);
    height: auto;
}

.main-header button {
    cursor: pointer;
    border:none;
    border-radius: 24px;
    background-color: var(--bg-color-two);
    color: var(--bg-color-four);
    margin-top: 2rem;
    padding: 12px 24px;
    text-transform: uppercase;
    font-weight: var(--bold-800);
    letter-spacing: 2px;
    transition: transform .3s ease;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

.main-header button:hover {
    background-color: #b44f4f;
    transform: translateY(-5px);
}


.main-container {
    margin: 0 auto;
    color: black;
}

@keyframes fadeSlideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.animated-element {
    opacity: 0; /* Start invisible */
    transform: translateY(30px); /* Start with an offset */
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

.animate {
    animation: fadeSlideUp 0.8s forwards ease;
    animation-delay: .5s;
}

.main-container .banner {
    background-image: url(./images/repeating-banner.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
    z-index: -1;
}

.main-container .banner::before {
    content: "";
    background-color: black;
    position: absolute;
    opacity: 0.03;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -2;
}

.main-container .banner .banner-svg {
    max-width: 300px;
    margin: 0 auto;
    
}

.main-container svg {
    fill: var(--bg-color-two);
    max-width: 100%;
}

.main-container .banner .banner-text p {
    margin-top: 1rem;
    margin-inline: 1rem;
}

.main-container .card-sec {
    min-height: 20vh;
}














@media (min-width: 850px) {
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation h3 {
        flex-shrink: 0;
        white-space: nowrap;
    }

    .navigation .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
        position: static;
        height: auto;
        padding: 0; 
        width: auto;
    }

    .navigation .nav-links.menu {
        display: flex; 
        flex-direction: row;
        height: auto;
        padding: 1rem;
        position: static;
        background-color: transparent;
    }

    .hamburger {
        display: none;
    }

    .side-bar {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        width: auto;
        left: 0;
        bottom: 5rem;
        transform: none;
        border-radius: 0 24px 24px 0;
        border: 3px solid var(--bg-color-four);
    }
}

